@media screen and (min-width:768px) and (max-width:1024px) {
	header {
		background: #ffcc32;
	}

	.glassy-art .art-dec h2 {
		font-size: 170px;
	}

	.glassy-art .art-dec h2 span {
		font-size: 16px;
		right: 40px;
	}

	.glassy-art .art-dec h4 {
		font-size: 30px;
	}

	.glassy-art .art-dec p {
		font-size: 16px;
	}

	.glassy-art .art-dec h4 img {
		margin-left: 10px;
		width: 40%;
	}

	.glassy-art .animate-items .item-bee.down {
		width: 30%;
		top: 10px;
		right: 20px;
	}

	.glassy-art .animate-items .item-bee.up {
		top: -60px;
		right: 130px;
		width: 30%;
	}

	.we-are, .dig-wrap, .tale-wrap, .contact-wrap {
		height: auto;
		padding: 120px 15px;
	}

	.dig-wrap .glassy-art .art-dec h4 {
		margin-left: 20px;
	}

	.dig-wrap .glassy-art .art-dec p {
		margin-left: 20px;
	}

	.dig-wrap .glassy-art .art-dec img {
		width: 30px;
	}

	.dig-wrap .glassy-art .art-dec a {
		margin-top: 20px;
		margin-left: 20px;
	}

	.glassy-art .animate-items .tool {
		top: 47px;
		right: 0px;
		width: 40%;
	}

	.glassy-art .art-dec h5 {
		font-size: 60px;
	}

	.tale-wrap .glassy-art .art-dec h4 {
		margin-left: 20px;
	}

	.tale-wrap .glassy-art .art-dec p {
		margin-left: 20px;
		position: relative;
	}

	.tale-wrap .glassy-art .art-dec img {
		width: 30px;
	}

	.tale-wrap .glassy-art .art-dec a {
		margin-top: 20px;
		margin-left: 20px;
	}

	.tale-wrap .glassy-art .art-dec p {
		position: relative;
		bottom: 0;
	}

	.glassy-art .animate-items .tool {
		top: 40px;
		right: -80px;
		width: 60%;
	}

	.glassy-art .animate-items .fairy {
		position: absolute;
		top: -120px;
		right: 0;
		width: 50%;
	}

	.glassy-art .animate-items .fairy img {
		width: 34%;
		margin-left: auto;
	}

	.contact-wrap .glassy-art .art-dec h4 {
		margin-left: 20px;
	}

	.contact-wrap .glassy-art .art-dec h2 {
		font-size: 80px;
	}

	.contact-wrap .glassy-art .art-dec p {
		margin-left: 20px;
		position: relative;
	}

	.contact-wrap .glassy-art .art-dec img {
		width: 30px;
	}

	.contact-wrap .glassy-art .art-dec a {
		margin-top: 0px;
		margin-left: 20px;
	}

	.glassy-art .animate-items .burger {
		position: absolute;
		top: 10px;
		right: -30px;
		width: 50%;
	}

	.work-banner .banner-content h2 {
		font-size: 200px;
	}

	.work-banner .banner-content h4 {
		font-size: 30px;
	}

	.work-container {
		background: #ffcc32;
		height: 80vh;
	}

}

@media screen and (max-width:767px) {
	header {
		background: #ffcc32;
	}

	.glassy-art .art-col {
		width: 320px;
		margin: 0 auto;
		position: relative;
	}

	.glassy-art .art-col .col-work {
		left: 5%;
		bottom: 50px;
		z-index: 1;
	}

	.glassy-art .art-col .col-life {
		right: 65px;
		bottom: 110px;
		z-index: 1;
	}

	.glassy-art .art-col h3 {
		font-size: 30px;
	}

	.we-are .glassy-art, .dig-wrap .glassy-art, .tale-wrap .glassy-art, .contact-wrap .glassy-art {
		width: 100%;
		margin: 0 auto;
	}

	.glassy-art .art-dec h2 {
		font-size: 130px;
	}

	.glassy-art .art-dec h2 span {
		font-size: 16px;
		right: 20px;
	}

	.glassy-art .art-dec h4 {
		font-size: 16px;
	}

	.glassy-art .art-dec p {
		font-size: 12px;
	}

	.glassy-art .art-dec h4 img {
		margin-left: 10px;
		width: 40%;
	}

	.glassy-art .animate-items .item-bee.down {
		width: 30%;
		top: 10px;
		right: 20px;
	}

	.glassy-art .animate-items .item-bee.up {
		top: -60px;
		right: 130px;
		width: 30%;
	}

	.home-banner {
		height: 80vh;
	}

	.we-are, .dig-wrap, .tale-wrap, .contact-wrap {
		height: auto;
		padding: 120px 15px;
	}

	.dig-wrap .glassy-art .art-dec h4 {
		margin-left: 20px;
	}

	.dig-wrap .glassy-art .art-dec p {
		margin-left: 20px;
	}

	.dig-wrap .glassy-art .art-dec img {
		width: 30px;
	}

	.dig-wrap .glassy-art .art-dec a {
		margin-top: 20px;
		margin-left: 20px;
	}

	.glassy-art .animate-items .tool {
		top: 47px;
		right: 0px;
		width: 40%;
	}

	.glassy-art .art-dec h5 {
		font-size: 60px;
	}

	.tale-wrap .glassy-art .art-dec h4 {
		margin-left: 20px;
	}

	.tale-wrap .glassy-art .art-dec p {
		margin-left: 20px;
		position: relative;
	}

	.tale-wrap .glassy-art .art-dec img {
		width: 30px;
	}

	.tale-wrap .glassy-art .art-dec a {
		margin-top: 20px;
		margin-left: 20px;
	}

	.tale-wrap .glassy-art .art-dec p {
		position: relative;
		bottom: 0;
	}

	.glassy-art .animate-items .tool {
		top: 47px;
		right: 0px;
		width: 40%;
	}

	.glassy-art .animate-items .fairy {
		position: absolute;
		top: -100px;
		right: 0;
		width: 50%;
	}

	.glassy-art .animate-items .fairy img {
		width: 40%;
		margin-left: auto;
	}

	.contact-wrap .glassy-art .art-dec h4 {
		margin-left: 20px;
	}

	.contact-wrap .glassy-art .art-dec h2 {
		font-size: 80px;
	}

	.contact-wrap .glassy-art .art-dec p {
		margin-left: 20px;
		position: relative;
	}

	.contact-wrap .glassy-art .art-dec img {
		width: 30px;
	}

	.contact-wrap .glassy-art .art-dec a {
		margin-top: 0px;
		margin-left: 20px;
	}

	.glassy-art .animate-items .burger {
		position: absolute;
		top: 10px;
		right: -30px;
		width: 50%;
	}

	.work-banner .banner-content h2 {
		font-size: 100px;
	}

	.work-banner .banner-content h4 {
		font-size: 16px;
	}

	.work-container {
		background: #ffcc32;
		height: 54vh;
	}

	.work-listing .work-items {
		width: 100%;
		margin-right: 0;
		height: 280px;
	}

	.client-details {
		display: flex;
		flex-wrap: wrap;
	}

	.client-details .col-l {
		width: 100%;
		padding-right: 0;
	}

	.client-details .col-r {
		width: 100%;
	}

	.details-panel {
		padding-top: 60px;
	}

	.work-details-container {
		padding-top: 62px;
	}
#filterOptions li{
	padding:0 5px;
}
}
@media screen and (max-width:400px){
.glassy-art .art-dec h2 {
    font-size: 115px;
}
}