/*
Develop by : Paresh Kamble;
*/

/*fonts*/
@font-face {
	font-family: 'AvenirNextLTPro-Demi';
	src: url('fonts/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirNextLTPro-Demi.otf')  format('opentype'), url('fonts/AvenirNextLTPro-Demi.woff') format('woff'), url('fonts/AvenirNextLTPro-Demi.ttf')  format('truetype'), url('fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextLTPro-Bold';
	src: url('fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirNextLTPro-Bold.otf')  format('opentype'), url('fonts/AvenirNextLTPro-Bold.woff') format('woff'), url('fonts/AvenirNextLTPro-Bold.ttf')  format('truetype'), url('fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextLTPro-Regular';
	src: url('fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirNextLTPro-Regular.otf')  format('opentype'), url('fonts/AvenirNextLTPro-Regular.woff') format('woff'), url('fonts/AvenirNextLTPro-Regular.ttf')  format('truetype'), url('fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextLTPro-Heavy';
	src: url('fonts/AvenirNextLTPro-Heavy.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirNextLTPro-Heavy.otf')  format('opentype'), url('fonts/AvenirNextLTPro-Heavy.woff') format('woff'), url('fonts/AvenirNextLTPro-Heavy.ttf')  format('truetype'), url('fonts/AvenirNextLTPro-Heavy.svg#AvenirNextLTPro-Heavy') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*/fonts*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

*, *:before, *:after {
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background: #fff;
	font-size: 14px;
	font-family: 'AvenirNextLTPro-Regular';
}

ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:hover {
	transition: .2s all ease;
	text-decoration: none;
	display: inline-block;
	color: #fff;
}

img {
	display: block;
	max-width: 100%;
}

/*common css*/
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

header {
	position: fixed;
	top: 0;
	background: transparent;
	width: 100%;
	z-index: 9;
}

header.sticky-header {
	position: sticky;
	top: 0;
	background: #ffcc32;
	width: 100%;
	z-index: 9;
}

header nav.container {
	padding: 16px 15px;
	display: flex;
	justify-content: space-between;
}

.home-banner {
	height: calc(100vh);
	background: #ffcc32;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 15px;
}

.glassy-art {
	position: relative;
}

.glassy-art .art-col {
	width: 75%;
	margin: 0 auto;
	position: relative;
}

.glassy-art .art-col .col-life {
	position: absolute;
	right: 70px;
	bottom: 180px;
}

.glassy-art .art-col .col-work {
	position: absolute;
	left: -40px;
	bottom: 110px;
}

.glassy-art .art-col h3 {
	font-family: 'AvenirNextLTPro-Heavy';
	font-size: 72px;
	font-weight: 900;
	color: #fff;
}

.we-are {
	height: calc(100vh);
	background: #ffcc32;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 80px 15px 0;
}

.glassy-art .art-dec h2 {
	font-family: 'AvenirNextLTPro-Heavy';
	font-size: 330px;
	font-weight: 900;
	color: #fff;
	line-height: .5;
	position: relative;
}

.glassy-art .art-dec h2 span {
	font-size: 20px;
	position: relative;
	right: 80px;
	bottom: 0px;
}

.glassy-art .art-dec h5 {
	font-family: 'AvenirNextLTPro-Heavy';
	font-size: 150px;
	font-weight: 900;
	color: #fff;
	position: relative;
}

.glassy-art .art-dec h4 {
	font-family: 'AvenirNextLTPro-Heavy';
	font-size: 37px;
	font-weight: 900;
	color: #000;
	position: relative;
}

.glassy-art .art-dec h4 img {
	margin-left: 10px;
}

.glassy-art .art-dec p {
	font-family: 'AvenirNextLTPro-Regular';
	font-size: 20px;
	color: #000;
	max-width: 500px;
	margin-top: 14px;
}

.glassy-art .animate-items .item-bee {
	position: absolute;
}

.glassy-art .animate-items .item-bee.up {
	top: -140px;
	right: 360px;
}

.glassy-art .animate-items .item-bee.down {
	top: 10px;
	right: -20px;
}

.we-are .glassy-art {
	width: 60%;
	margin: 0 auto;
}

.dig-wrap {
	height: calc(100vh);
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 80px 15px 0;
}

.dig-wrap .glassy-art {
	width: 60%;
	margin: 0 auto;
}

.dig-wrap .glassy-art .art-dec a {
	margin-top: 20px;
	margin-left: 40px;
}

.dig-wrap .glassy-art .art-dec h2 {
	color: #ffcc32;
	line-height: .6;
}

.dig-wrap .glassy-art .art-dec h4 {
	margin-left: 40px;
}

.dig-wrap .glassy-art .art-dec p {
	margin-left: 40px;
}

.glassy-art .animate-items .tool {
	position: absolute;
	top: 110px;
	right: -70px;
}

.tale-wrap {
	height: calc(110vh);
	background: #ffcc32;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px 15px;
	overflow: hidden;
}

.tale-wrap .glassy-art {
	width: 60%;
	margin: 0 auto;
}

.tale-wrap .glassy-art .art-dec a {
	margin-top: 20px;
	margin-left: 40px;
}

.tale-wrap .glassy-art .art-dec h2 {
	line-height: .6;
}

.tale-wrap .glassy-art .art-dec h4 {
	margin-left: 40px;
}

.tale-wrap .glassy-art .art-dec p {
	margin-left: 40px;
	position: absolute;
	right: 0;
	bottom: 55px;
	max-width: 430px;
}

.glassy-art .animate-items .fairy {
	position: absolute;
	top: -100px;
	right: -30px;
}

.contact-wrap {
	height: calc(100vh);
	background: url(../images/say-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 15px;
	overflow: hidden;
}

.contact-wrap  .glassy-art {
	width: 70%;
	margin: 0 auto;
}

.contact-wrap  .glassy-art .art-dec a {
	margin-left: 10px;
}

.contact-wrap  .glassy-art .art-dec h2 {
	line-height: .6;
	font-size: 240px;
	color: #ffcc32;
}

.contact-wrap  .glassy-art .art-dec h4 {
	margin-left: 40px;
	color: #fff;
}

.contact-wrap  .glassy-art .art-dec p {
	margin-left: 40px;
	max-width: 430px;
	color: #fff;
}

.glassy-art .animate-items .burger {
	position: absolute;
	top: 50px;
	right: -30px;
}

/*work css*/
.work-container {
	background: #ffcc32;
	height: 80vh;
}

.work-banner {
	padding-top: 120px;
	display: flex;
	align-items: center;
	position: relative;
}

.work-banner .banner-content  h2 {
	font-family: 'AvenirNextLTPro-Heavy';
	font-size: 330px;
	font-weight: 900;
	color: #fff;
	line-height: .5;
	position: relative;
}

.work-banner .banner-content  h4 {
	font-family: 'AvenirNextLTPro-Heavy';
	font-size: 37px;
	font-weight: 900;
	color: #000;
	position: relative;
	margin-left: 55px;
}

.work-banner .banner-art {
	position: absolute;
	right: 0;
	width: 33%;
}

.work-panel {
	padding: 60px 0;
	background: #ffcc32;
}

.work-listing {
	display: flex;
	flex-wrap: wrap;
}

.work-listing .work-items {
	height: 350px;
	width: calc(50% - 15px);
	margin-right: 30px;
	margin-bottom: 30px;
}

.work-listing .work-items:nth-child(2n + 2) {
	margin-right: 0;
}

.work-listing .work-items .front {
	cursor: pointer;
	box-shadow: 0px 6px 20px rgb(0, 0, 0, .2);
}

.work-listing .work-items .back {
	cursor: pointer;
	background: #000;
	padding: 60px 40px;
	box-shadow: 0px 6px 20px rgb(0, 0, 0, .2);
}

.work-listing .work-items .back-body {
	margin-top: 16px;
}

.work-listing .work-items .back-body p {
	color: #fff;
	line-height: 1;
}

.work-listing .work-items .back-heading h3 {
	display: inline-block;
	border-bottom: 1.6px solid #a57242;
	color: #fff;
	font-family: 'AvenirNextLTPro-Heavy';
	font-size: 28px;
	padding-bottom: 16px;
}

.work-listing .work-items .front img {
	width: 100%;
	height: 100%;
}

.work-details-container {
	padding-top: 80px;
}

.details-panel {
	padding: 120px 0;
	height: 100vh;
}

.client-heading {
	border-bottom: 1.6px solid #ffcc32;
	padding-bottom: 16px;
	margin-bottom: 20px;
}

.client-heading h4 {
	color: #000;
	font-size: 30px;
	font-family: 'AvenirNextLTPro-Heavy';
}

.client-details {
	display: flex;
}

.client-details .col-l {
	padding-right: 60px;
}

.client-details .col-r p {
	font-size: 18px;
	margin-bottom: 16px;
}

.client-details .col-r h3 {
	font-size: 18px;
	margin-bottom: 16px;
	color: #000;
	font-family: 'AvenirNextLTPro-Heavy';
}

.client-details ul li {
	margin-bottom: 21px;
}

.client-details p {
	font-size: 18px;
}

.client-details .col-l {
	width: 30%;
}

.client-details .col-r {
	width: 70%;
	height: 300px;
	overflow-y: scroll;
}

ul#filterOptions a {
	color: #000;
}

.details-slider .slick-dots {
	position: absolute;
	bottom: auto;
	display: block;
	width: auto;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.details-slider .slick-dots li {
	display: block;
}

.details-slider .slick-dots li button::before {
	font-size: 50px;
	color: #fff;
}

.details-slider .slick-dots li.slick-active button:before {
	color: #fff;
}

.details-slider p {
	color: #fff;
	font-size: 16px;
}

.details-work-panel {
	margin: 100px 0;
}

.detials-video {
	margin-bottom: 100px;
}

.w-banner img {
	height: 100vh;
	width: 100%;
	object-fit: cover;
}

.details-slider {
	background: black;
	height: 100vh;
	display: flex;
	align-items: center;
}

.slider-list p {
	color: #fff;
}

.slider-content {
	padding: 20px;
}

.slider-con-img img {
	margin: 0 auto;
	padding-bottom: 30px;
}

.pp-easing {
	-webkit-transition: all 3000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
	-moz-transition: all 3000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
	-o-transition: all 3000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
	transition: all 3000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);		    /* custom */
	-webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
	-moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
	-o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
	transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);		    /* custom */
}
